$mediaBreakpoints: (
    mobile: 23.4375rem,
    tablet: 48rem,
    desktop-sm: 64rem,
    desktop-md: 81.25rem
);

@mixin media-query($size) {
    @media (min-width: map-get($mediaBreakpoints, $size)) {
        @content;
    }
}