@import "./variables";
@import "./mixins&anims";
@import "./country";

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.header {
    height: 5.5rem;
    padding: 2rem 1rem;
    font-family: $font-family;
    color: $lightModeText;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .25rem .25rem 0 $lightModeShadow;
    position: relative;
    z-index: 1;

    @include media-query(tablet) {
        padding: 2rem 4rem;
    }

    @include media-query(desktop-sm) {
        padding: 2rem 5rem;
    }

    &__title {
        margin: 0;
        font-size: 1.1rem;

        @include media-query(tablet) {
            font-size: 1.5rem;
        }
    }

    &__title-link {
        text-decoration: none;
        color: $lightModeText;
    }

    &__toggle {
        margin: 0;
        font-size: .88rem;
        font-weight: 600;
        cursor: pointer;

        &::before {
            content: '\f186';
            font-family: "Font Awesome 5 Free";
            font-weight: 300;
            display: inline-block;
            transform: rotate(340deg);
            margin-right: .6rem;
        }
    }
}

.main {
    min-height: calc(100vh - 5.5rem);
    padding: 2rem 1rem;
    background-color: $lightModeBg;
    position: relative;

    @include media-query(tablet) {
        padding: 2rem 4rem;
    }

    @include media-query(desktop-sm) {
        padding: 2rem 5rem;
    }
}

.flex-wrapper {
    @include media-query(tablet) {
        display: flex;

        &--space-between {
            justify-content: space-between;
        }
    }
}

.search {
    position: relative;
    width: Min(26rem, 100%);
    box-shadow: 0 0 .5rem 0 $lightModeShadow;

    &__icon {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        color: $lightModeInputText;
    }

    &__field {
        outline: none;
        border: none;
        width: 100%;
        padding: .8rem 2rem .8rem 5rem;
        color: $lightModeInputText;
        font-family: $font-family;
        border-radius: .375rem;

        &::placeholder {
            color: $lightModeInputText;
        }
    }
}

.filter {
    width: 10.625rem;
    font-family: $font-family;
    font-size: .8rem;
    color: $lightModeText;
    margin-top: 2rem;
    position: relative;
    cursor: pointer;

    @include media-query(tablet) {
        margin-top: 0;
    }

    &__custom-select {
        padding: .8rem 1.5rem;
        margin: 0;
        background-color: $white;
        border-radius: .375rem;
        position: relative;
        box-shadow: 0 0 .5rem 0 $lightModeShadow;

        &::after {
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            display: inline-block;
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__select-options {
        list-style-type: none;
        background-color: $white;
        border-radius: .25rem;
        padding: .8rem 1.5rem;
        margin-top: .5rem;
        position: absolute;
        width: 100%;
        box-shadow: 0 0 .5rem 0 $lightModeShadow;
        display: none;

        &--active {
            display: block;
        }
    }

    &__select-option {
        &:not(:last-child) {
            padding-bottom: .5rem;
        }
    }
}

.button {
    outline: none;
    border: none;
    background-color: $white;
    font-family: $font-family;
    border-radius: .375rem;
    box-shadow: 0 0 .5rem 0 $lightModeShadow;
    cursor: pointer;

    &--back {
        padding: .5rem 1.5rem;

        &::before {
            content: "\f060";
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            margin-right: .5rem;
        }
    }

    &--country {
        padding: .5rem 0;
        width: 6.25rem;
        margin: 0 .25rem .5rem 0;
    }
}

.grid {
    display: grid;
    grid-gap: 2rem;

    &--four {
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
    
        @include media-query(tablet) {
            margin: 3rem 0;
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-query(desktop-sm) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-query(desktop-md) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 3rem;
        }
    }

    &--two {
        margin: 1rem 0;

        @include media-query(desktop-sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--two-inner {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 1rem 0;
    }
}

.darkMode {
    .header {
        background-color: $darkModeElements;
        box-shadow: 0 .25rem .25rem 0 $darkModeShadow;

        &__title-link {
            color: $white;
        }

        &__toggle {
            color: $white;

            &::before {
                font-weight: 600;
            }
        }
    }

    .main {
        background-color: $darkModeBg;
    }

    .search {
        box-shadow: 0 0 .5rem 0 $darkModeShadow;
    }

    .search__icon {
        color: $white;
    }

    .search__field {
        background-color: $darkModeElements;
        color: $white;

        &::placeholder {
            color: $white;
        }
    }

    .filter {
        color: $white;

        &__custom-select, &__select-options {
            background-color: $darkModeElements;
            box-shadow: 0 0 .5rem 0 $darkModeShadow;
        }
    }

    .button {
        background-color: $darkModeElements;
        color: $white;
        box-shadow: 0 0 .5rem 0 $darkModeShadow;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: "";
        display: block;
        width: 3rem;
        height: 3rem;
        border: .375rem solid transparent;
        border-top-color: rgb(128, 128, 128);
        border-bottom-color: rgb(128, 128, 128);
        border-radius: 50%;
        animation: loading .8s linear infinite;
    }
}

.attribution {
    font-family: $font-family;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0;

    a {
        color: #3e52a3;
    }
}
  